*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
:root{
    --color-primary: #193963;
    --color-secondary: #88b82e;
    --color-tertiary: #083791;
    --color-quaternary: #083791;
    --color-background: #f3f7fa;
    --color-background-alt: #89b92e;
    --color-background-special-page: #F8F9FF;
    --color-white: #ffffff;
    --color-red: #FF0000;
    --color-black: #000000;
    --color-text: #123663;
    --color-text-secondary: #565069;
    --color-light-blue: #0758C8;
    --color-text-light: #e6edf4;
    --color-yellow: rgba(251, 117, 0, .2);
    --nav-bar-height: 65px;
    --color-fade: #A7B0B4;
    --text-color-secondary: #07001E;
}