.nav-bar {
    background-color: #193963;
}
.nav-bar-main{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;    
}

.nav-bar-main ul{
    list-style: none;
}

.nav-bar-main li{
    font-weight: 700;
}