.nav-bar{
    z-index: 1000;
}
.nav-link {
    font-size: 14px;
    font-weight: 500;
    padding: 0rem 0rem;
}

.nav-bar .menu-item {
    position: relative;
    color: white;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 6px 0px;
}

.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    color: #0d3c71;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    width: auto;
    padding: 5px 0;
    z-index: 10;
    display: flex;
    width: max-content;
    margin-top: 5px;
}

.nav-bar .menu-item .submenu a {
    display: flex;
    padding: 8px 14px 8px 20px;
    color: #0d3c71;
    text-decoration: none;
    font-size: 14px;
}

.nav-bar .menu-item .submenu a:hover {
    color: #88B82E;
    text-decoration: underline;
}

.nav-item {
    position: relative;
    color: white;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.nav-item::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 5px;
    background-color: white;
    transition: width 0.3s ease;
}

.nav-item:hover::after {
    width: 100%;
}

.nav-bar {
    background-color: #193963;
    position: sticky;
    transition: top 0.5s ease;
    height: 65px;
}

.nav-bar-main {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    padding-top: 1px;
}

.nav-bar-main ul {
    list-style: none;
    padding: 0px 0px 0px 0px;
}

.nav-bar-main li {
    font-weight: 600;
}

.sticky {
    top: 0;
}

.submenu-column {
    display: flex;
    flex-direction: column;
}

.submenu-column a {
    padding: 8px 14px 8px 20px;
    color: #0d3c71;
    text-decoration: none;
    font-size: 14px;
}

.submenu-column a:hover {
    color: #88B82E;
    text-decoration: underline;
}

.menu-item:hover .submenu {
    display: flex;
    flex-direction: row;
}

.menu-item:not(:hover) .submenu {
    display: none;
}

.nav-bar-actions{
    display: flex;
    align-items: center;
}

.nav-bar-icons{
    display: flex;
    gap: 24px;
}

.c-pointer{
    cursor: pointer;
}
.nav-bar-icon-language img{
    width: 24px;
    height: 24px;
    object-fit: cover;
}

.nav-bar .search-container {
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 24px;
}

.search-input {
    width: 0;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 100px;
    transition: width 0.3s ease, right 0.3s ease;
    opacity: 0;
    right: 0px;
    position: absolute;
    outline: none;
    border: none;
    padding: 0px 20px;
}

.search-container:hover .search-input {
    width: 300px;
    opacity: 1;
}

.search-icon {
    cursor: pointer;
    transition: opacity 0.3s;
    z-index: 2;
    background-color: transparent;
}

@media (max-width: 1200px) {
    .nav-bar-list {
        gap: 32px;
    }
    .nav-link {
        font-size: 12px;
    }
}