.partner-container{
    padding-top: 24px;
    padding-bottom: 40px;
}

.partner-container .text-green{
    font-weight: 700;
    color: var(--bs-green);
}
.text-green{
    color: var(--bs-green);
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.partner-container h3{
    font-size: 20px;
    text-align: left;
    font-weight: 700;
    margin-bottom: 10px;
    width: 100%;
    color: var(--bs-primary);
}
.partner-item{
    width: 100%;
    background-color: #F3F7FA;
    align-items: center;
    justify-content: center;
    aspect-ratio: 17/11;
    border-radius: 2px;
    display: flex;
}
.partner-item img{
    max-width: 90%;
    max-height: 90%;
    object-fit: cover;
    mix-blend-mode: darken;
}

.col-2{
    flex: 0 0 auto;
    width: 160px;
    height: 120px;
}