.search {
    background-image: url('http://ucvn.vn:8084/img/publishImg/background-search.png');
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 100%;
    padding: 80px 0;
    background-size: cover;
    background-position: center;
}

.search .search-container {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    
}

.form-input-group {
    display: flex;
    align-items: center;
    align-items: center;
    border: 1px solid var(--color-text-light);
    background-color: var(--color-white);
    width: 760px;
    height: 52px;
    border-radius: 100px;
    margin-top: 8px;
}

.search-option {
    height: 100%;
    min-width: 146px;
    background-color: var(--color-background);
    border-radius: 100px;
}

.select-menu{
    width: 100%;
    height: 100%;
    border: none;
}

.select-btn {
    display: flex;
    height: 100%;
    padding: 20px 16px 20px 20px;
    font-size: 15px;
    font-weight: 400;
    border-radius: 6px;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
}

.select-btn i {
    font-size: 20px;
    transition: 0.3s;
    margin-left: 8px;
}
.select-btn i::before{
    
}

.select-menu .select-btn i{
    transition: rotate(-180deg);
}

.options{
    display: block;
    opacity: 1;
    max-height: 300px;
}

.option {
    display: flex;
    height: 42px;
    cursor: pointer;
    padding: 0 16px;
    border-radius: 8px;
    align-items: center;
    background-color: var(--color-white);
}

.option-text {
    font-size: 15px;
    font-weight: 500;
    color: var(--text-color-secondary);
    text-wrap: nowrap;
    white-space: nowrap;
}

.form-input-group input{
    border: none;
    flex: 1;
    height: 100%;
    padding: 0 16px;
    outline: none;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
}