.top-bar-info img{
    width: 68px;
    border-style: none;
    vertical-align: center;
}
.top-bar-info{
    display: flex;
    justify-content: space-between;
    height: 96px;
    text-wrap: nowrap;
    white-space: nowrap;
    text-align: center;
}
.top-bar-info a{
    text-decoration: none;
}
.top-bar-logo-info h3{
    color: #193963;
    font-size: 20px;
    font-weight: 700;
}
.top-bar-logo-info p{
    color: #88B82E;
    font-weight: 500;
    font-size: 16px;
}
.slogan-item-info{
    text-align: left;
    font-size: 14px;
    font-weight: 300;   
    text-wrap: nowrap;
    white-space-collapse: collapse;
    text-wrap-mode: nowrap;
    color: var(--bs-primary);
}
.top-bar-slogan{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 20px;
}
.top-bar-slogan-item h3{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 0;
    color: #0A92CD;
    padding-left: 30px;
}
.top-bar-slogan-item p{
    padding-left: 30px;
    color: #193963;
}