img, svg {
    vertical-align: middle;
    border-style: none;
}

.top-bar-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 96px;
    white-space: nowrap;
}

.top-bar-info img {
    width: 68px;
}

.top-bar-logo-info h3 {
    color: #193963;
    font-size: 20px;
    font-weight: 700;
}

.top-bar-logo-info p {
    color: #88B82E;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
}

.top-bar-info a {
    text-decoration: none;
}

.top-bar-slogan {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}

.top-bar-slogan-item {
    display: flex;
    align-items: center;
}

.top-bar-slogan-item h3 {
    font-size: 20px;
    font-weight: 600;
    color: #0A92CD;
    margin: 0;
    padding-left: 16px;
}

.top-bar-slogan-item p {
    color: #193963;
    margin: 0;
    padding-left: 16px;
}

.top-bar-slogan-item svg {
    width: 28px;
    height: 28px;
    padding-top: 10px;
}

.top-bar-slogan-item svg path {
    fill: #88B82E;
}

.slogan-item-info {
    font-size: 14px;
    font-weight: 300;
    color: var(--bs-primary);
    text-align: left;
}
